body {
  background: linear-gradient(to bottom, #1E90FF, #15aca5);
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.title {
    font-size: 6em;
    font-weight: bold;
    margin-bottom: 0.5em;
    color: rgb(255, 255, 255);
    text-align: center;
}

.images-container {
  height: 700px;
  border-radius: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.section-header {
    font-size: 3em;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 0.5em;
    color: rgb(255, 255, 255);
    text-align: center;
}

.back-to-home {
  margin: 20px;
}
